<div class="main flex justify-center flex-col  p-10 gap-5" >
    <div class="title flex justify-start self-start">
    <p class="title-p text-xl font-serif text-white">Title</p>
    </div>
    <div class="box flex justify-center border-2 border-white rounded-lg w-full h-10">
      
    </div>
    <div class="main" >
    <p class="description-p text-xl font-serif text-white ">Description</p>
    </div>
    <div class="box flex justify-center border-2 border-white rounded-lg w-full h-20" >
      
    </div>
    <div class="discription flex justify-start mt-6" >
    <button class="save-p text-1xl text-indigo-900 bg-white rounded-lg  w-16 h-8 cursor-pointer hover:bg-gray-300 font-medium">save</button>
    </div>
    
    </div>
    
