<div class="div1 flex justify-center flex-col  p-10 gap-5" >
<div class="div2 flex justify-start self-start">
<p class="p1 text-5xl font-serif">Title</p>
</div>
<div class="div3 flex justify-center border-2 border-white rounded-lg w-full h-20 ">
  
</div>
<div class="div2" >
<p class="p1 text-5xl font-serif">Description</p>
</div>
<div class="div3 flex justify-center border-2 border-white rounded-lg w-full h-52" >
  
</div>
<div class="div4 flex justify-start mt-6" >
<button class="b1 text-2xl text-indigo-900 bg-white rounded-lg font-serif w-20 h-10 cursor-pointer hover:bg-gray-300">save</button>
</div>

</div>