<div class="flex justify-center text-center flex-col border border-b-2 border-white w-full h-20 p-5 mt-[20px] rounded-[5px] " >
<div class="flex justify-between text-center">
<h1 class="text-white font-serif">title</h1>
<div class="flex space-x-2">
<button class="bg-white w-16 h-7 rounded-[5px] font-medium text-blue-900 cursor-pointer hover:bg-gray-300">edit</button>
<button class="bg-white w-16 h-7 rounded-[5px] font-medium text-blue-900 cursor-pointer hover:bg-gray-300">delete</button>
</div>
</div>

</div>

<div class="flex justify-center text-center flex-col border border-b-2 border-white w-full h-20 p-5 mt-[20px] rounded-[5px] " >
    <div class="flex justify-between text-center">
    <h1 class="text-white font-serif">title</h1>
    <div class="flex space-x-2">
    <button class="bg-white w-16 h-7 rounded-[5px] font-medium text-blue-900 cursor-pointer hover:bg-gray-300">edit</button>
    <button class="bg-white w-16 h-7 rounded-[5px] font-medium text-blue-900 cursor-pointer hover:bg-gray-300">delete</button>
    </div>
    </div>
    
    </div>
